.nav {
    color: white;
    background-color: #00FF7F;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5em;
}

.site-name{
    font-size: 2rem;
    margin-left: 3vw;
}

ul {
    list-style: none;
    display: flex;
    gap: 1em;
}

a {
    color: inherit;
    text-decoration: none;
}

.pages{
    margin-right: 3vw;
    font-size: 1.5rem;
}