.nav {
  color: white;
  background: #202935 !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3em;
  width: 100%;
}

.site-name {
  font-size: 2rem;
  padding-left: 3vw;
}

ul {
  list-style: none;
  display: flex;
  gap: 1em;
}

a {
  color: inherit;
  text-decoration: none;
}

.pages {
  padding-right: 3vw;
  font-size: 1.5rem;
}

.login {
  background-color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  color: black;
  font-size: 1.2rem;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: unset;
  line-height: 17px;
  text-transform: unset;
  min-height: 32px;
  min-width: 32px;
  padding: 4px 16px;
}

.login:hover{
  background-color: #D7DADC;
}
